/* Se agrega un padding top de 40px porque hay una stickynavbar y esta ocupa espacio del body 
    por lo tanto se hace un relleno de la altura de la navbar */
.body-main{
    background-color: whitesmoke;
    padding-top: 40px;
}

.cambio-color:hover{
    color:#47DCE2;
}
.cambio-color:active{
    color:#27B5D9;
}

.navfooter{
    background-image: linear-gradient(to right,#9FD693,#87C76D);
}

.footerimgs{
    margin: 50px;
    color: #EDEAE1 ;
}

.footerimgs:hover{
    color:#47DCE2;
}

.footerimgs:active{
    color:#27B5D9;
}

.hearts{
    color: red;
}

/* Aqui va las configuraciones del carrusel */
.carousel{
    width: 70%;
    height: 70%;
    /* redondear cada una de las esquinas */
    border-radius: 25px 25px 25px 25px; 
    /* el overflow muestra (o no) la superposicion de la imagen , si este se muestra no se logra el efecto de redondeo */
    overflow: hidden;

}
.carousel-item img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}